# Misc
.DS_Store

# Contracts
out/
cache/

# Environment
.env

# Frontend
frontend/.env.local
frontend/node_modules
frontend/out
frontend/.next
frontend/.vercel

# Node
node_modules

# Proofs
proofs/*.json

# Yarn
yarn-error.log
